.toDo {
    max-width: 800px;
    min-height: 200px;
    background-color: $to-do;
    border-radius: 20px;
    border: 1px solid $milk;
    box-shadow: inset 0 0 10px #282828;
    padding: 20px;
    @media (max-width: 680px) {
        width: 100%;
        min-height: 100vh;
        border-radius: 0;
        border: none;
        background-color: transparent;
    }
}
.toDoItem {
    display: flex;
    gap: 5px;
    margin-bottom: 5px;
    &:last-child {
        margin-bottom: 0;
    }
}

// Ввод текста
.toDoItem__input {
    flex-grow: 5;
}
.btnAdd {
    @include buttonSecond;
}

// Поисковая выдача
.btnSort, .btnFilter, .btnSearch {
    @include buttonPrim;
    flex-grow: 1;
}
.btnSearch_hide {
    @media (max-width: 480px) {
        display: none;
    }
}
.searchForm {
    display: flex;
    gap: 5px;
    flex-grow: 5;
}
.searchForm__input {
    flex-grow: 5;
}
.input_disabled:disabled {
    cursor: not-allowed;
}
.btnSearch {
    img {
        width: 32px;
        height: 32px;
        transition: transform 1s ease;
    }
    &:hover {
        img {
            transform: scale(1.1);
        }
    }
}

// Уже сами таски
.toDoItem__bottom {
    flex-direction: column;
}
.taskToDo {
    width: 100%;
    display: flex;
    gap: 5px;
    .taskToDo__data {
        width: 70%;
        @media (max-width: 680px) {
            width: 80%;
        }
    }
    .taskToDo__editButtonsBlock {
        width: 30%;
        @media (max-width: 680px) {
            width: 20%;
            flex-direction: column;
        }
    }
}
.btnCheckboxWrapper {
    padding: 20px;
    border-radius: 15px;
    background-color: $disabled;
    border: 2px solid $active;
    display: flex;
    justify-content: center;
    align-items: center;
    &.btnCheckboxWrapper_active:has(.btnCheckbox:checked) {
        background-color: $active;
    }
    @media (max-width: 560px) {
        padding: 0;
    }
}
.btnCheckbox {
    position: relative;
    width: 35px;
    aspect-ratio: 1;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    background-color: $milk;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    transition: all .1s linear;
    box-shadow: 0 0 5px $bg-color;
    &.btnCheckbox_active:checked {
        background-color: orangered;
        &::after {
            content: '✔';
            position: absolute;
        }
    }
    @media (max-width: 560px) {
        width: 24px;
    }
}
.taskData {
    position: relative;
    padding: 20px;
    border: 2px solid $active;
    border-radius: 15px;
    background-color: $milk;
    color: $active;
    font-size: 1.5rem;
    transition: all .2s linear;
    text-wrap: wrap;
    overflow-wrap: anywhere;
    &.done {
        text-decoration: line-through;
        opacity: .7;
    }
    .taskData__date {
        position: absolute;
        right: 10px;
        bottom: 2px;
        @media (max-width: 560px) {
            font-size: .625rem;
        }
    }
    @media (max-width: 560px) {
        font-size: 1rem;
        padding: 20px 10px;
    }
}
.taskDate {
    font-size: .75rem;
    color: $grey;
}

// Кнопки изменить и удалить
.editButtonsBlock {
    display: flex;
    gap: 5px;
    .editButtonsBlock__button {
        width: 50%;
        @media (max-width: 680px) {
            width: 100%;
            height: 20px;
        }
    }
}
.btnRename, .btnRemove {
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: background .1s ease;
    img {
        width: 32px;
        height: 32px;
        object-fit: contain;
    }
    &:active {
        background-color: red;
    }
    @media (max-width: 680px) {
        img {
            width: 24px;
            height: 24px;
        }
    }
    @media (max-width: 560px) {
        img {
            width: 16px;
            height: 16px;
        }
    }
}

// Общие стили для кнопок
.button {
    flex-grow: 1;
	cursor: pointer;
	font-weight: 700;
    transition: opacity .1s ease;
    &.button_active:active {
        opacity: .9;
    }
}

// Общие стили для элементов ввода
.input {
    @include input;
    caret-color: $active;
    opacity: .8;
    transition: opacity .2s linear;
    &:focus-visible {
        opacity: 1;
        outline: 2px solid orange;
    }
    &::placeholder {
        color: $disabled;
        opacity: .7;
    }
    @media (max-width: 560px) {
        padding: 10px;
    }
}

// Блок без задач
.noTaskBlock {
    text-align: center;
    padding: 20px;
    background-color: $milk;
    border: 2px solid $active;
    border-radius: 15px;
    color: $active;
    font-size: 2rem;
    @media (max-width: 560px) {
        font-size: 1rem;
    }
}
.noTaskBlock__toDoItem {
    flex-grow: 1;
}