.toDo {
    max-width: 800px;
    min-height: 200px;
    background-color: $to-do;
    border-radius: 20px;
    border: 1px solid $milk;
    box-shadow: inset 0 0 10px #282828;
    margin: 0 auto;
    padding: 20px;
    @media (max-width: 680px) {
        width: 100vw;
        height: 100vh;
        border-radius: 0;
        border: none;
    }
}
.toDoItem {
    display: flex;
    gap: 5px;
    margin-bottom: 5px;
    &:last-child {
        margin-bottom: 0;
    }
}

// Ввод текста
.inputTodo {
    flex-grow: 6;
}
.btnAdd {
    @include buttonSecond;
}

// Поисковая выдача
.btnSort, .btnFilter, .btnSearch {
    @include buttonPrim;
    flex-grow: 1;
}
.btnSearch {
    @media (max-width: 390px) {
        display: none;
    }
}
.searchForm {
    display: flex;
    gap: 5px;
    flex-grow: 5;
}
.inputSeatch {
    flex-grow: 5;
}
.btnSearch {
    img {
        width: 32px;
        height: 32px;
        transition: transform 1s ease;
    }
    &:hover {
        img {
            transform: scale(1.1);
        }
    }
}

// Уже сами таски
.toDoItem__info {
    flex-direction: column;
}
.taskToDo {
    width: 100%;
    display: flex;
    gap: 5px;
}
.btnCheckboxWrapper {
    padding: 20px;
    border-radius: 15px;
    background-color: $disabled;
    border: 2px solid $active;
    display: flex;
    justify-content: center;
    align-items: center;
    &:has(.btnCheckbox:checked) {
        background-color: $active;
    }
    @media (max-width: 560px) {
        padding: 0;
    }
}
.btnCheckbox {
    position: relative;
    width: 35px;
    aspect-ratio: 1;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    background-color: $milk;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    transition: all .1s linear;
    box-shadow: 0 0 5px $bg-color;
    &:checked {
        background-color: orangered;
        &::after {
            content: '✔';
            position: absolute;
        }
    }
    @media (max-width: 560px) {
        width: 24px;
    }
}
.taskData {
    position: relative;
    width: 70%;
    padding: 20px;
    border: 2px solid $active;
    border-radius: 15px;
    background-color: $milk;
    color: $active;
    font-size: 1.5rem;
    transition: all .2s linear;
    text-wrap: wrap;
    overflow-wrap: anywhere;
    &.done {
        text-decoration: line-through;
        opacity: .7;
    }
    .taskDate {
        position: absolute;
        right: 10px;
        bottom: 2px;
        font-size: 1rem;
        color: $grey;
    }
    @media (max-width: 560px) {
        width: 80%;
        font-size: 1rem;
        padding: 20px 10px;
        .taskDate {
            font-size: .625rem;
        }
    }
}

// Кнопки изменить и удалить
.editButtonsBlock {
    display: flex;
    width: 30%;
    gap: 5px;
    @media (max-width: 560px) {
        width: 20%;
        flex-direction: column;
    }
}
.btnRename, .btnRemove {
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: background .1s ease;
    img {
        width: 32px;
        height: 32px;
        object-fit: contain;
    }
    &:active {
        background-color: red;
    }
    @media (max-width: 560px) {
        img {
            width: 24px;
            height: 24px;
        }
    }
}

// Общие стили для кнопок
.button {
    flex-grow: 1;
	cursor: pointer;
	font-weight: 700;
    transition: opacity .1s ease;
    &:active {
        opacity: .9;
    }
}

// Общие стили для элементов ввода
.input {
    @include input;
    caret-color: $active;
    opacity: .8;
    transition: opacity .2s linear;
    &:focus {
        opacity: 1;
    }
    &::placeholder {
        color: $disabled;
        opacity: .7;
    }
    @media (max-width: 560px) {
        padding: 10px;
    }
}

// Блок без задач
.noTaskBlock {
    flex-grow: 1;
    text-align: center;
    padding: 20px;
    background-color: $milk;
    border: 2px solid $active;
    border-radius: 15px;
    color: $active;
    font-size: 2rem;
    @media (max-width: 560px) {
        font-size: 1rem;
    }
}